body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #121212;
    color: white;
    margin: 0;
}

#board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.row {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 5px;
    justify-content: center;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #444;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: #222;
    color: white;
}

.green {
    background: #538d4e;
}

.orange {
    background: #b59f3b;
}

.grey {
    background: #3a3a3c;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    justify-content: center;
    gap: 5px;
}

.key {
    padding: 14px 16px;
    border: none;
    background: #666;
    color: white;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
        width: 44px;
    height: 44px;
}

.key.used {
    background: #444;
}
.key.wide {
  flex: 1 1 100%;
  padding: 14px 0;
  font-size: 20px;
        background: green;
    height: 52px;
}
.key.wide:last-of-type {
   background: #9d1414;
}
#score {
    margin-top: 20px;
}

.key.green {
  background-color: #538d4e !important;
  color: white;
}

.key.orange {
  background-color: #b59f3b !important;
  color: white;
}

.key.grey {
  background-color: #3a3a3c !important;
  color: white;
}
#showHintBtn {
width: 140px;
    height: 30px;
    outline: none;
    border-radius: 0;
    border: none;
}
